<aside class="sidebar">

    <div class="sidebar-logo">
        <img src="assets/images/LOGO.png" alt="Logo">
        <h2>HERWATCH</h2>
    </div>

    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i> Profile</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active"><i class="fas fa-users"></i> Contacts</a></li>
        <li><a routerLink="/reports" routerLinkActive="active"><i class="fas fa-flag"></i> Reports</a></li>
        <li><a routerLink="/settings" routerLinkActive="active"><i class="fas fa-cog"></i> Settings</a></li>
        <li><a (click)="onLogout()" style="cursor:pointer"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>

</aside>